/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/aide
/aide.exe
/aide*.tar.gz
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/version.m4
/ylwrap
